[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/locales"]
	path = modules/locales
	url = https://github.com/saz/puppet-locales
[submodule "modules/prosody"]
	path = modules/prosody
	url = https://github.com/mayflower/puppet-prosody
[submodule "modules/openssl"]
	path = modules/openssl
	url = https://github.com/camptocamp/puppet-openssl
[submodule "modules/users"]
	path = modules/users
	url = https://github.com/dmcnicks/dmcnicks-users
